*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    width: 100%;
    background-color: rgb(212, 215, 216);
    display: flex;
    align-items: center;
    justify-content: center;
}
.card{
    height: 580px;
    width: 370px;
    background-color: white;
    border-radius: 10px;
}
.image1{
    height: 262px;
    width: 370px;
    border-radius: 10px 10px 0 0;
}
.midcard{
    height: 45%;
    width: 100%;
    /* background-color: greenyellow;  */
    display: flex;
    justify-content: center;
    align-items: center;
}
.textwrap{
    height: 90%;
    width: 90%;
    /* background-color: beige; */
}
.smalltext{
    margin-top: 20px;
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.hour{
    margin-top: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.bottomcard{
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    border-top: 1px solid rgb(207, 204, 204);
}
.bottomwrap{
    width: 90%;
    /* background-color: rgb(212, 164, 164); */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 28px;
    width: 68px;
    background-color: rgb(209, 208, 208);
    border-radius: 3px;
}

